
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-left: 50px;
    margin-right: 50px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
    margin-left: 50px;
    margin-right: 50px;
}

.aaa {
    transition: all 0.3s ease;
    color: rgb(209, 82, 82);
    background-color: #e2e2e2;
}

a:hover {
    color: #29BBCC;
    text-decoration: none;
}

h2, p { color: #000000; }


#backgroundphoto{
    display: block; margin-left: auto; margin-right: auto;
    background-size: auto;
    background-position: center;
    /* max-width:1400px; */
    max-height: 500px;
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.tm-content-container {
    max-width: 1422px;
    padding-top: 80px;
    padding-bottom: 35px;
}

.tm-page-title { font-size: 2.5rem; }
.tm-catalog-item-list { justify-content: space-between; }

.tm-catalog-item {
    max-width: 462px;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.tm-thumbnail-container { overflow: hidden; }
.tm-thumbnail-container img {
    height:250px ;
    transition: all 0.3s ease;
}
.tm-thumbnail-container:hover img { transform: scale(1.2) rotate(5deg); }

.tm-img-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.3s ease;
}

.tm-overlay-icon {
    color: #971717;
    opacity: 1;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;
    transition: all 0.3s ease;
}

.tm-img-overlay:hover { background-color: transparent; }
.tm-img-overlay:hover .tm-overlay-icon { opacity: 0; }

#main-member{
    display: flex;
    flex-wrap: wrap;
}
.img-member{
    border-radius: 50%;
    padding-left: 14px;
    padding-top: 5px;
}
#tenLinh{
    font-size: 150%;
}
#tenTrung{
    font-size: 150%;
}