<?xml version='1.0' encoding='utf-8'?>

<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-54-159-35-35.compute-1.amazonaws.com:5432/d37tfeuqn9sfbb?characterEncoding=UTF-8</property>
        <property name="connection.username">ukffckmjxuwehs</property>
        <property name="connection.password">37b320e7be9f32ee6edd7d88a59fe3009bb9b0814e2512e8ab98f54faf687ccc</property>
        <property name="hibernate.connection.CharSet">utf-8</property>
        <property name="hibernate.connection.characterEncoding">utf-8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <!-- JDBC connection pool (use the built-in) -->
<!--        <property name="connection.pool_size">1</property>-->

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
<!--        <property name="hbm2ddl.auto">update</property>-->
        <!-- Lazy fix -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping class="com.ezcook.entities.Comment" />
        <mapping class="com.ezcook.entities.Food" />
        <mapping class="com.ezcook.entities.FoodType"/>
        <mapping class="com.ezcook.entities.Role"/>
        <mapping class="com.ezcook.entities.Statistical"/>
        <mapping class="com.ezcook.entities.User"/>
    </session-factory>
</hibernate-configuration>