body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    display: block;
}
h1 {
    font-size: 300%;
    margin-top: 30px;
    text-align: center;
    color: teal;
    margin-bottom: 10px;
}
h2 {
    font-size: 120%;
    color: #000000;
    margin-bottom: 50px;
    text-align: center;
}
#formmmmm{
    border: 5px solid black;
    background-color: #35e058;
    position: absolute;
    left: 10%;
    width: 550px;
    height: 300px;
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
table{
    float: right;
}
input[type="text"], input[type="email"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
span {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}

/* The styles for the tables */
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    height: auto;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.right {
    text-align: right;
}
#sqlkq{
    margin-left: 50%;
}
.pee{
    display: flex;
    /*justify-content: space-between;*/
}
textarea{
    max-width: 500px;
    max-height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}
#rreturnhome{
    display: flex;
    margin-left: 30%;
    margin-top: 25%;
    width: 100px;
    background-color: #ffffff;
}
#exxxxce{
    margin-top: 10px;
    margin-left: 40%;
}