@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

::selection {
    background-color: #a3d379;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h3,
h4,
h6 {
    font-weight: 600;
}

p {
    font-size: 100%;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 161);
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 126, 126);
}

a:hover {
    text-decoration: none;
}