nav {
    position: fixed;
}
#slider {
    margin-top: 60px;
    z-index: 0;
}

#content {
    width: 1170px;
}

#content .session {
    margin-top: 50px;
}

#content .session h4 {
    padding: 30px 0;
}

#content .session > div {
    display: flex;
    justify-content: space-between;
}

#content .session .item {
    flex-basis: 30%;
    display: block;
}

#content .session .item img {
    display: block;
    width: 400px;
    margin-bottom: 20px;
}

#content .session .item > div > span {
    color: #689f38;
    font-size: 90%;
}

#content .session .item > div h5 {
    padding-top: 10px;
    color: #333;
    transition: all .5s ease-in-out;
}

#content .session .item > div .social-icon i:hover,
#content .item > div a,
#content .session .item > div .author a,
#content .session .item > div h5:hover {
    color: #689f38;
}

#content .session .item > div .author {
    color: rgb(129, 129, 129);
}

#content .session .item > div hr {
    width: 50%;
    margin: 20px auto;
}

#content .session .item > div .social-icon {
    padding: 20px 0;
}

#content .session .item > div .social-icon i {
    width: 40px;
    font-size: 150%;
    color: #333;
    transition: all .3s ease;
}

#content .session .item > div .social-icon i:hover {
    transform: scale(1.3);
}

#content .session > p {
    padding-bottom: 20px;
}

#content .session > p > a {
    color: #ffffff;
    padding: 10px 20px;
    background-color: #689f38;
}
