.nav{
    position: fixed;
    padding-top: 10px;
}
h4 {
    letter-spacing: 2px;
}

/* main */

#main {
    padding-top: 100px;
    width: 1170px;
    justify-content: space-between;
}

#container {
    padding: 0 10px;
    flex-basis: 75%;
}

#related-posts h6:hover,
#container header a,
#container header i,
#container .content > a {
    color: #689f38;
}

.category>* {
    font-size: 80%;
}

#container header span {
    font-size: 90%;
    color: #888;
}

#container .content {
    padding-top: 80px;
    text-align: justify;
}

#container .content p {
    font-size: 100%;
}

#container .content img {
    margin: 20px 0;
    display: block;
    width: 100%;
    cursor: pointer;
}

iframe {
    width: 100%;
    margin: 10px 0;
}

#comments {
    margin: 50px 0;
}

#comments h4 {
    margin-bottom: 50px;
}

#comments .comment img {
    width: 20%;
    min-width: 100px;
    max-height: 100px;
}

#comments .comment span {
    font-size: 85%;
    color:rgb(112, 112, 112);
}

#comments .comment h6 {
    text-transform: uppercase;
}

#comments .comment span i {
    padding: 0 5px;
}

#comments .content {
    padding: 10px;
}

#comments .content p {
    text-align: justify;
}

#comments hr {
    width: 50%;
    margin: 20px auto;
}

#author .social i,
#container .content .share i {
    width: 40px;
    font-size: 130%;
    text-align: center;
    color: #333;
    transition: all 0.3s ease-in-out;
}

#author .social i:hover,
#container .content .share i:hover {
    color: #689f38;
    transform: scale(1.3);
}

#add-comment {
    margin-bottom: 50px;
}

#add-comment textarea {
    margin-top: 50px;
    border: 1px solid rgb(197, 197, 197);
    padding: 5px;
}

#add-comment textarea:focus {
    border-color: #689f38;
}

#add-comment input {
    margin-top: 20px;
    outline: none;
    padding: 8px 25px;
    border: none;
    background-color: rgb(240, 240, 240);
    font-weight: 600;
    transition: all .5s ease-in-out;
}

#add-comment input:hover {
    background-color: #689f38;
}

#related-posts {
    margin: 50px 0;
}

#related-posts > div {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#related-posts > div > a {
    flex-basis: 30%;
}

#related-posts h6 {
    color: #333;
    transition: all .5s linear;
}

#related-posts span {
    font-size: 90%;
    color:rgb(114, 114, 114);
}


/* AUTHOR */

#author {
    padding: 50px 10px 0;
    flex-basis: 25%;
}

#author .sticky-author {
    position: sticky;
    top: 100px;
}

#author h3 {
    padding-top: 20px;
    position: relative;
}

#author img {
    margin: 30px 0;
    width: 100%;
}

#author .social {
    padding-top: 20px;
}


/* main */