body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    display: block;
}
h1 {
    font-size: 300%;
    margin-top: 30px;
    text-align: center;
    color: teal;
    margin-bottom: 10px;
}
h2 {
    font-size: 120%;
    color: #000000;
    margin-bottom: 50px;
    text-align: center;
}
br {
    clear: both;
}

#quantity {
    width: 2em;
}

#tableproduct {
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto; margin-right: auto;
    width: 700px;
    height: 300px;
    background-color: #6cf68c;
}
#tablecart{
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto; margin-right: auto;
    width: 1000px;
    background-color: #6cf68c;
}
.formcartmain{
    background-color: #6cf68c;
}
#formproduce{
    background-color: #6cf68c;
    text-align: center;
}
.formcart{
    display: flex;
    text-align: center;
    margin-left: 150px;
}
th, td {
    border: 2px solid black;
    text-align: left;
    font-size: 130%;
    padding: 5px;
}
#btn-addcart{
    width: 125px;
    /*margin-top: 5px;*/
    text-align: center;
}
.center {
    text-align: center;
}
#h2produce{
    margin-top: 20px;
}
#h2cart{
    margin-top: 20px;
}
#returnhome{
    margin-left: 50px;
}
#removeitem{
    width: 140px;
    text-align: center;
}
#rreturnhome{
    display: block;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
    width: 100px;
    background-color: #ffffff;
}