body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    display: block;
}
h1 {
    font-size: 300%;
    margin-top: 30px;
    text-align: center;
    color: teal;
    margin-bottom: 10px;
}
h2 {
    font-size: 120%;
    color: #000000;
    margin-bottom: 50px;
    text-align: center;
}
.download{
    display: block;
    border: 2px solid #e7c50d;
    border-collapse: collapse;
    margin-left: auto; margin-right: auto;
    background-color: #6cf68c;
    width: 500px;
    height: 320px;
}
.download a {
    font-size: 130%;
    color: #000000;
    margin-left: 50px;
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.formregitdl{
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto; margin-right: auto;
    width: 600px;
    height: 300px;
    background-color: #6cf68c;
}
input[type="text"], input[type="email"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
span {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}

/* The styles for the tables */
table {
    border: 1px solid black;
    border-collapse: collapse;
}
.tablespdl{
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto; margin-right: auto;
    width: 500px;
    height: auto;
    background-color: #6cf68c;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.divsp{
    display: block;
    text-align: center;
    margin-left: auto; margin-right: auto;
    margin-top: 30px;
}
.divsp a{
    color: #000000;
    margin-left: 20px;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    background-color: #a6a8a8;
}
/* The styles for the classes */
.pad_top {
    margin-top: 20px;
    margin-left: 60px;
}
.margin_left {
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
}
.align_left {
    text-align: left;
}
.align_right {
    text-align: left;
}
.center {
    text-align: center;
}
.rreturnhome{
    display: block;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
    width: 100px;
    background-color: #ffffff;
}
#hommmeeee{
    margin-top: 10px;
    margin-left: 45%;
}