img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.has-text-align-justify {
    text-align: justify;
}

.penci-recipe,
.penci-recipe-heading,
.penci-recipe-ingredients,
.penci-recipe-notes {
    border-color: #dedede;
}

.post-entry .penci-recipe-heading a.penci-recipe-print {
    color: #095e7c;
}

.post-entry .penci-recipe-heading a.penci-recipe-print {
    border-color: #095e7c;
}

.post-entry .penci-recipe-heading a.penci-recipe-print:hover {
    background-color: #095e7c;
}

.post-entry .penci-recipe-heading a.penci-recipe-print:hover {
    color: #fff;
}

#sidebar-nav {
    font-family: Arial, Helvetica, sans-serif;
}

li.penci-mega-menu>a:after,
#navigation .menu>ul>li.penci-mega-menu>a:after {
    content: '' !important;
}

#navigation .container {
    width: auto !important;
    padding-left: 0px;
}

#navigation {
    background-color: #3d3d3d !important;
}

#navigation a {
    color: #fff !important;
}

#menu-main-menu-1 .mega-cat-child,
#navigation .penci-megamenu .penci-content-megamenu .penci-mega-latest-posts .penci-mega-post a {
    color: #3d3d3d !important;
}

#menu-main-menu-1 .active>a,
#menu-main-menu-1 .mega-cat-child:hover,
#navigation .penci-megamenu .penci-content-megamenu .penci-mega-latest-posts .penci-mega-post a:hover,
#navigation.menu-item-padding ul.menu>li:hover>a {
    color: #6eb48c !important;
}

#navigation .container .button-menu-mobile>i {
    color: #fff !important;
}

#menu-main-menu-1 .active>a {
    background-color: #ececec !important;
}
.fa-chevron-down {
    padding-left: 3px;
}

body > header {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

#header-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #6eb48c;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: none;
}
.search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
}
.search-box + label .search-icon {
    color: black;
}
.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
    color: white;
}
.search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: auto;
    background: #ebebeb;
    color: black;
}
.search-box:focus + label .search-icon {
    color: black;
}
.search-box:not(:focus) {
    text-indent: -5000px;
}
#search-submit {
    position: relative;
    left: -5000px;
}
.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}
