body{
    font-family: "Times New Roman";
    font-size: 11pt;
    margin-left: 2cm;
    margin-top: 4cm;

}
h1{
    color: aquamarine;
}
label{
    float: left;
    width: 6cm;
    margin-bottom: 0.5cm;

}
input{
    width: 200px;
    margin-left: 2px;
    margin-bottom: 3px;
}
br{
    clear: both;
}
#submit{
    margin-left: 5px;
}